---
import ItemExperiencia from "../components/ItemExperiencia.astro"
const EXPERIENCIE = [
  {
    date: "09/2023 - 02/2024",
    title: "Testing de Frontend",
    company: "GrupoTech",
    description:
      "Pasantía desde noviembre del 2023 hasta el febrero del 2024, en el área de Testing de Frontend, en el cual se realizo pruebas de funcionalidad y rendimiento de aplicaciones web.",
    link: "https://webgt.grupo-tech.com",
  },
  

]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ItemExperiencia {...experiencie} />
      </li>
    ))
  }
</ol>